*{
    box-sizing: content-box;
}

body {
    margin: 0;
}

div.inicio {
    background-color: #1CD1B0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

header {
    background-color: #00669F;
    display: inline-block;
    position: sticky;
    width: 100%;
    height: 101px;
    left: 0px;
    top: 38px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

article{
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    left: 32px;
    top: 485px;
    margin-top: 192px;
    margin-bottom: 192px;
    margin-left: 100px;
    margin-right: 15px;
}

.fondoBatman {
    background-image: url(./img/fondobatman.png);
    width: 300px;
    height: 193px;
    left: 32px;
    top: 293px;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 100x;
}

.fondoHarley {
    background-image: url(./img/fondoharley.png);
    width: 300px;
    height: 193px;
    left: 32px;
    top: 293px;
    border-radius: 16px 16px 0px 0px;
}

.corazon {
    padding: 10px;
}

.batman {
    display: flex;
    width: 120px;
    height: 118px;
    left: 122px;
    top: 421px;
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.harley {
    display: flex;
    width: 120px;
    height: 118px;
    left: 122px;
    top: 421px;
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
    margin-bottom: 20px;
}

h2, p {
    text-align: center;
}

h2 {
    margin-top: 80px;
}

h1 {
    padding: 8px;
}

span.vermas {
    display: flex;
    justify-content: center;
    background-color: #00669F;
    color: white;
    width: 120px;
    height: 46px;
    padding-top: 18px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 68px;
}

footer {
    height: 51px;
    width: 100%;
    left: 0px;
    top: 972px; 
    background-color: #00669F;
    color: white;
    margin-top: 192px;
    padding: 8px;
}