body {
    font-family: Roboto;
    font-style: normal;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#principal {
    background-color: #F0A83E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul, li {
    display: inline-block;
    margin-left: 28px;
}

.opciones {
    text-align: right;
}

.grandeso { 
    display: flex;
}

#banner {
    background-image: url(./img/fondobanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    height: 500px;
    padding: 20px;
    text-align: right;
    margin: 0;
    margin-bottom: 20px;
}

.contactosPetShop {
    background-color: #3C2313;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.productosDestacados, .contactos {
    font-weight: normal;
    text-align: center;
}

.opcionesProductos {
    display: flex;
    justify-content: center;
}

.productos {
    display: flex;
    justify-content: space-around;
}

.huella {
    display: flex;
    justify-content: center;
}

.bienvenida {
    font-weight: normal;
    font-size: 30px;
    color: #3C2313;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 165px;
    margin-right: 21px;
    margin-left: 980px;
    padding-right: 60px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.descuentos, .comederos {
    font-weight: normal;
    font-size: 16px;
}

.descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 94px;
    margin-left: 980px;
    padding-right: 60px;
    padding-top: 22px;
    padding-bottom: 22px
}

.comederos {
    background-color: #F0A83E;
    margin-right: 180px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.precio {
    font-weight: 500;
    font-size: 15px;
    color: #F0A83E;
    text-align: center;
}

.nombres {
    text-align: center;
}

.productosDestacados {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
}

.suscripcion {
    color: white;
    background-color: #F0A83E;
    padding: 10px;
    display: flex;
    align-items: center;
}

.correo {
    font-weight: bold;
    font-size: 20px;
}

.ingresar {
    margin-left: 55%;
    background-color: white;
    color: #A0A0A0;
    border-radius: 15px;
    padding: 0.30%;
    padding-right: 0.10%;
    padding-left: 0.10%;
}

.suscribime {
    margin-left: 5px;
    background-color: #3C2313;
    border-radius: 15px;
    padding: 0.30%;
    padding-right: 0.10%;
    padding-left: 0.10%;
}

.info {
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

.datos {
    display: flex;
}